.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  display: flex;
  justify-content: center;
}

.nav ul li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

.nav ul li a:hover {
  background-color: #2b2a2a;
}

.nav a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

.nav a.active {
  color: white;
  background-color: #000000;

}